.workorder {
    list-style-type: none; 
}
li {
    display:flex;
}
.container-display {
    display:grid;
    grid-template-areas: "left right";
    margin-right: 1rem;
    padding-bottom: 25rem;
}
h1 {
    display:flex;
    justify-content: center;
    color:white;
    padding-bottom: 2rem;
}