.navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  font-size: medium
}


.navBar {
  background:  #c1d7ae;
  box-shadow: 4px 2px 6px ;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}




.brand {
  cursor: pointer;
  font-size: 2rem;
}
