form {

    margin: 0 auto;
  
}
.form-layout {
    display:flex;
    justify-content: space-evenly;
}
.around-form {
    padding-right: 30rem;
    padding-left: 30rem;
}

.col-md-12.text-center {
    padding-bottom: 10%;
}

.col-lg-12.text-center {
    padding-bottom: 50px;
}