form {
    margin: 0 auto;
  
}
.layout {
    display:flex;
    justify-content: space-evenly;
}


.col-md-12.text-center {
    padding-bottom: 10%;
    margin-top:1rem;
}

.col-lg-12.text-center {
    padding-bottom: 50px;
}
.input-group {
    justify-content: center;
}
.response {
    margin-left: 13rem;
}
.resident-box h2 {
    text-align: center
}
.response .container-display {
    padding-bottom: 4rem;
}