@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid #283618;
  color: #283618;
  font-size: 1rem;
  font-family: inherit;
  max-width: 200px;
  padding: 0.5rem 0.5rem;
}

.border-box {
  background-color: white;
  box-shadow: 2px 2px 6px;
  border-radius: 25px;
}
.text {
  display: flex;
  justify-content: center;
}