.col-lg-12.text-center {
    padding-bottom: 50px;
    display:flex;
    justify-content: space-evenly;
}

.inputGroup-sizing-sm {
    width: 100px;
}
.resident-form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #edebd7;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
}
.resident-box {
    border-radius: 10px;
    box-shadow: 6px 6px 6px;
    background-color: #edebd7;
    padding: 20px;
    margin: 3rem;
}
.around-resident-box {
    padding-bottom: 11rem;
}